
<div class="js-footer" style="min-height: 1px;">

    <div>

        <div class="footer">
            <div class="copyright">
                <div class="ft-links">
                    <a href="https://h5.youzan.com/v2/showcase/homepage?kdt_id=28" target="_blank">店铺主页</a>
                    <a href="https://h5.youzan.com/v2/showcase/usercenter?kdt_id=28" target="_blank">会员中心</a>
                    <a href="javascript:;" class="js-open-follow">关注我们</a>
                    <a href="https://h5.youzan.com/v2/showcase/cert" target="_blank">店铺信息</a>
                    <!-- 第三方app隐藏topbar时，需要在底部显示购物记录入口 -->
                </div>

                <div class="ft-copyright "
                     style="background-image: url(https://img.yzcdn.cn/upload_files/2017/06/22/FgDfGdhuvppOmHLNKfP5-xRt3isu.png);">
                    <a class="yz-logo" href="javascript:void(0)"><%=siteName%>提供技术支持</a></div>

            </div>
        </div>

    </div>

</div>