
<div class="search-bar" style="display:none;">
    <form class="search-form" action="/v2/search" method="GET">
        <input type="search" class="search-input" placeholder="搜索商品" name="q" value="">
        <input type="hidden" name="kdt_id" value="28">
        <a class="js-search-cancel search-cancel" href="javascript:;">取消</a>
        <span class="search-icon"></span>
        <span class="close-icon hide"></span>
    </form>
    <div class="history-wrap center">
        <ul class="history-list search-recom-list js-history-list clearfix"></ul>
        <a class="tag tag-clear js-tag-clear c-gray-darker hide" href="javascript:;">清除历史搜索</a>
    </div>
</div>