<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=pageTitle%>-<%=title%></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/css/weui.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css">
    -->
    <link rel="stylesheet" href="/lib/jqweui/lib/weui.css">
    <link rel="stylesheet" href="/lib/jqweui/css/jquery-weui.css">
    <link rel="stylesheet" href="/css/m/base.css">
    <link rel="stylesheet" href="/font/iconfont/iconfont.css">

</head>
<body >

<div class="weui-navbar">
    <div class="weui-navbar__item weui_bar__item_on frem08">
        <a class="go_back fl" href="javascript:goBackFunc()"> <i class="iconfont icon-fanhui"></i> </a>
        <%=pageTitle%>
    </div>
</div>


<script type="text/javascript">
    function goBackFunc() {
        history.go(-1);
    }
</script>

<div class="wrap">
