

</div>

<div class="weui-tabbar">
    <a href="/" class="weui-tabbar__item weui-bar__item--on">
        <div class="weui-tabbar__icon">
            <i class="iconfont icon-0037 f24"></i>
        </div>
        <p class="weui-tabbar__label">首页</p>
    </a>
    <a href="/product/cat" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <i class="iconfont icon-fenlei3"></i>
        </div>
        <p class="weui-tabbar__label">分类</p>
    </a>
    <a href="/product/cart" class="weui-tabbar__item">
        <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>
        <div class="weui-tabbar__icon">
            <i class="iconfont icon-gouwuche f28"></i>
        </div>
        <p class="weui-tabbar__label">购物车</p>
    </a>
    <a href="/users/center" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <i class="iconfont icon-wo f26"></i>
        </div>
        <p class="weui-tabbar__label">我</p>
    </a>
</div>


<!--
<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
-->

<script src="/lib/jqweui/lib/jquery-2.1.4.js"></script>
<script src="/lib/jqweui/js/jquery-weui.js"></script>

<script src="/lib/jqweui/lib/fastclick.js"></script>
<script type="text/javascript">
    $(function() {
        FastClick.attach(document.body);
    });

</script>

</body>
</html>