<% include public/weui_header.html %>

<div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="/users/profile">
        <div class="weui-cell__hd"><i class="iconfont icon-xinxi f18 mr10"></i></div>
        <div class="weui-cell__bd">
            <p>基本信息</p>
        </div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="/users/changepw">
        <div class="weui-cell__hd"><i class="iconfont icon-mima1 f20 mr10"></i></div>
        <div class="weui-cell__bd">
            <p>密码</p>
        </div>
        <div class="weui-cell__ft"></div>
    </a>
</div>

<div class="weui-cells">

    <a class="weui-cell weui-cell_access" href="/users/addresslist">
        <div class="weui-cell__hd"><i class="iconfont icon-shouhuodizhi5 f22 mr10"></i></div>
        <div class="weui-cell__bd">
            <p>收货地址管理</p>
        </div>
        <div class="weui-cell__ft"></div>
    </a>
</div>

<% include public/weui_footer.html %>