<% include public/weui_header.html %>


<div class="weui-panel weui-panel_access">
    <div class="weui-panel__hd">收货地址列表</div>
    <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_text clear">

            <div class="fr mt20 bl">
                <div class="height30 pl20">
                    <a href="/users/addressedit" class="mb5"><i class="iconfont icon-mima1 f20 mr10"></i></a>
                </div>
            </div>

            <div class="fl mr20 width75 mb10">
                <h4 class="weui-media-box__title">张三 13666666666</h4>
                <p class="weui-media-box__desc wordbreak lineheight20">上海市徐汇区田林路188号阳光广场办公区17楼2907室</p>
            </div>
        </div>
        <div class="weui-media-box weui-media-box_text clear">

            <div class="fr mt20 bl">
                <div class="height30 pl20">
                    <a href="/users/addressedit" class="mb5"><i class="iconfont icon-mima1 f20 mr10"></i></a>
                </div>
            </div>

            <div class="fl mr20 width75 mb10">
                <h4 class="weui-media-box__title">张三 13666666666</h4>
                <p class="weui-media-box__desc wordbreak lineheight20">上海市徐汇区田林路188号阳光广场办公区17楼2907室</p>
            </div>
        </div>
    </div>
</div>

<div class="weui-btn-area ">
    <a href="/users/addressedit" id="showTooltips" class="weui-btn weui-btn_primary">
        <i class="iconfont icon-mima1 f20 mr10"></i> 新增收货地址
    </a>
</div>


<% include public/weui_footer.html %>