<% include public/weui_header.html %>


<div class="weui-cells weui-cells_checkbox">
    <label class="weui-cell weui-check__label" for="s11">
        <div class="weui-cell__hd">
            <input type="checkbox" class="weui-check" name="checkbox1" id="s11" checked="checked">
            <i class="weui-icon-checked"></i>
        </div>

        <div class="weui-cell__hd"><img width="88" height="88" src="https://img10.360buyimg.com/n7/s176x176_jfs/t3049/185/3963368344/274668/cf01e9c/57fb6a66Nfb97530e.jpg!q70.jpg"></div>
        <div class="weui-cell__bd">
            <div class="mb15">
                <div class="f13">我们的身体了不起(套装全3册）</div>
                <div class="f11 colorgray mt5">系列:我们的身体了不起</div>
            </div>

            <div class="cart-product-cell-3">
                <div class="shp-cart-item-price ">
                    ¥<strong class="f15">46</strong>.00
                </div>

                <div class="quantity-wrapper customize-qua">
                    <input type="hidden" id="limitSukNum11963821" value="1000">
                    <input type="hidden" id="remainNumInt11963821" value="-1">
                    <input type="hidden" id="atLeastNum11963821" value="-1">
                    <a class="quantity-decrease disabled" id="subnum11963821" href="javascript:subWareBybutton('8888','203266599','1',13,11963821,1);" onclick="checkLimitNum();"></a>
                    <input type="tel" size="4" value="1" name="num" id="num11963821" class="quantity" onchange="checkLimitToast(-1);modifyWare('8888','203266599','1',13,11963821,1)">
                    <a class="quantity-increase " id="addnum11963821" href="javascript:addWareBybutton('8888','203266599','1',13,11963821,1,1);"></a>
                </div>


            </div>

        </div>

    </label>



    <label class="weui-cell weui-check__label" for="s12">
        <div class="weui-cell__hd">
            <input type="checkbox" class="weui-check" name="checkbox1" id="s12" checked="checked">
            <i class="weui-icon-checked"></i>
        </div>

        <div class="weui-cell__hd"><img width="88" height="88" src="https://img10.360buyimg.com/n7/s176x176_jfs/t3049/185/3963368344/274668/cf01e9c/57fb6a66Nfb97530e.jpg!q70.jpg"></div>
        <div class="weui-cell__bd">
            <div class="mb15">
                <div class="f13">我们的身体了不起(套装全3册）</div>
                <div class="f11 colorgray mt5">系列:我们的身体了不起</div>
            </div>

            <div class="cart-product-cell-3">
                <div class="shp-cart-item-price ">
                    ¥<strong class="f15">46</strong>.00
                </div>

                <div class="quantity-wrapper customize-qua">
                    <input type="hidden" id="limitSukNum11963821" value="1000">
                    <input type="hidden" id="remainNumInt11963821" value="-1">
                    <input type="hidden" id="atLeastNum11963821" value="-1">
                    <a class="quantity-decrease disabled" id="subnum11963821" href="javascript:subWareBybutton('8888','203266599','1',13,11963821,1);" onclick="checkLimitNum();"></a>
                    <input type="tel" size="4" value="1" name="num" id="num11963821" class="quantity" onchange="checkLimitToast(-1);modifyWare('8888','203266599','1',13,11963821,1)">
                    <a class="quantity-increase " id="addnum11963821" href="javascript:addWareBybutton('8888','203266599','1',13,11963821,1,1);"></a>
                </div>


            </div>

        </div>

    </label>


    <label class="weui-cell weui-check__label" for="s13">
        <div class="weui-cell__hd">
            <input type="checkbox" class="weui-check" name="checkbox1" id="s13" checked="checked">
            <i class="weui-icon-checked"></i>
        </div>

        <div class="weui-cell__hd"><img width="88" height="88" src="https://img10.360buyimg.com/n7/s176x176_jfs/t3049/185/3963368344/274668/cf01e9c/57fb6a66Nfb97530e.jpg!q70.jpg"></div>
        <div class="weui-cell__bd">
            <div class="mb15">
                <div class="f13">我们的身体了不起(套装全3册）</div>
                <div class="f11 colorgray mt5">系列:我们的身体了不起</div>
            </div>

            <div class="cart-product-cell-3">
                <div class="shp-cart-item-price ">
                    ¥<strong class="f15">46</strong>.00
                </div>

                <div class="quantity-wrapper customize-qua">
                    <input type="hidden" id="limitSukNum11963821" value="1000">
                    <input type="hidden" id="remainNumInt11963821" value="-1">
                    <input type="hidden" id="atLeastNum11963821" value="-1">
                    <a class="quantity-decrease disabled" id="subnum11963821" href="javascript:subWareBybutton('8888','203266599','1',13,11963821,1);" onclick="checkLimitNum();"></a>
                    <input type="tel" size="4" value="1" name="num" id="num11963821" class="quantity" onchange="checkLimitToast(-1);modifyWare('8888','203266599','1',13,11963821,1)">
                    <a class="quantity-increase " id="addnum11963821" href="javascript:addWareBybutton('8888','203266599','1',13,11963821,1,1);"></a>
                </div>


            </div>

        </div>

    </label>


</div>


<div class="weui-cells weui-cells_checkbox posifix left0 bottom0 width100">
    <label class="fl weui-cell weui-check__label pt0 pr0 pb0 pl0" for="s111">
        <div class="weui-cell__hd pt15 pb15 pl15">
            <input type="checkbox" class="weui-check" name="checkbox1" id="s111" checked="checked">
            <i class="weui-icon-checked"></i> <span class="fbold f14">全选</span>
        </div>
        <div class="weui-cell__bd ml10 pt15 pb15">
            <div class="f13 fbold">合计: ¥0.00</div>
            <div class="f11 colorgray">总额:¥0.00 立减:¥0.00</div>
        </div>
    </label>
    <div class="fr mt0">
        <a href="/order/ordersubmit/" class="f16 displayblock pt15 pb15 pl30 pr30 bra0 weui-btn weui-btn_mini weui-btn_warn">去结算</a>
    </div>

</div>



<% include public/weui_footer.html %>