<% include public/weui_header.html %>


<div class="weui-cells__title mt20">请牢记你修改后的新密码</div>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">旧密码</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入旧密码">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">新密码</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入新密码">
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">确认密码</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入确认密码">
        </div>
    </div>

</div>
<div class="weui-cells__tips">底部说明文字底部说明文字</div>


<div class="weui-btn-area ">
    <a href="javascript:;" id="showTooltips" class="weui-btn weui-btn_primary">保存</a>
</div>


<% include public/weui_footer.html %>