<% include public/weui_header.html %>

<link rel="stylesheet" href="/lib/weuiplus/css/weui.css"/>
<link rel="stylesheet" href="/lib/weuiplus/css/weui2.css"/>

<div class="slide" id="slide1">
    <ul>
        <li>
            <a href="/product/info/">
                <img src="https://m.360buyimg.com/mobilecms/s720x322_jfs/t8233/16/87490463/45026/238f696b/59a03728N18d0db72.jpg!q70.jpg" alt="">
            </a>
            <div class="slide-desc">零哥章魚 完成传奇世界H5-王者归来任务 获得30金币</div>
        </li>
        <li>
            <a href="/product/info/">
                <img src="https://m.360buyimg.com/mobilecms/s720x322_jfs/t7513/16/1494176419/153636/409786b6/599d23bfN1c341617.jpg!q70.jpg" alt="">
            </a>
            <div class="slide-desc">23333零哥章魚 完成传奇世界H5-王者归来任务 获得30金币</div>
        </li>
        <li>
            <a href="/product/info/">
                <img src="https://img1.360buyimg.com/da/jfs/t7813/99/1117918076/86875/9da6df50/599a8e5eN9204498b.jpg" alt="">
            </a>
            <div class="slide-desc">33333零哥章魚 完成传奇世界H5-王者归来任务 获得30金币</div>
        </li>
    </ul>
    <div class="dot">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div class="weui_grids grids-small clear mt10 homenav"  >
    <a href="javascript:;" class="grid"  >
        <div class="weui_grid_icon">
            <img src="/images/1.png" alt="">
        </div>
        <p class="weui_grid_label">
            按钮
        </p>
    </a>
    <a href="javascript:;" class="grid" >
        <div class="weui_grid_icon">
            <img src="/images/2.png" alt="">
        </div>
        <p class="weui_grid_label">
            列表
        </p>
    </a>
    <a href="javascript:;" class="grid" >
        <div class="weui_grid_icon">
            <img src="/images/3.png" alt="">
        </div>
        <p class="weui_grid_label">
            QQ
        </p>
    </a>
    <a href="javascript:;" class="grid" >
        <div class="weui_grid_icon">
            <img src="/images/4.png" alt="">
        </div>
        <p class="weui_grid_label">
            弹出
        </p>
    </a>
    <a href="javascript:;" class="grid" >
        <div class="weui_grid_icon">
            <img src="/images/5.png" alt="">
        </div>
        <p class="weui_grid_label">
            进度
        </p>
    </a>
    <a href="javascript:;" class="grid" >
        <div class="weui_grid_icon">
            <img src="/images/6.png" alt="">
        </div>
        <p class="weui_grid_label">
            消息
        </p>
    </a>
    <a href="javascript:;" class="grid" >
        <div class="weui_grid_icon">
            <img src="/images/7.png" alt="">
        </div>
        <p class="weui_grid_label">
            文章
        </p>
    </a>
    <a href="javascript:;" class="grid" >
        <div class="weui_grid_icon">
            <img src="/images/8.png" alt="">
        </div>
        <p class="weui_grid_label">
            菜单
        </p>
    </a>

</div>

<div class="page-bd">
    <div class="weui-flex">
        <div class="weui-flex-item">
            <div class="placeholder">
                <a href="/product/info/"><img src="https://m.360buyimg.com/mobilecms/jfs/t8281/57/55877725/114131/35985b0a/599f901aNf6798a5e.jpg!q70.jpg" alt=""></a>
            </div>
        </div>
    </div>
</div>

<div class="page-bd">
    <div class="weui-flex">
        <div class="weui-flex-item">
            <div class="placeholder">
                <a href="/product/info/"><img src="https://m.360buyimg.com//mobilecms/s276x276_jfs/t5899/296/9546289089/165722/b018667d/59880bf9N0eed01f1.jpg!q70.jpg"></a>
            </div>
        </div>
        <div class="weui-flex-item">
            <div class="placeholder">
                <a href="/product/info/"><img src="https://m.360buyimg.com//mobilecms/s276x276_jfs/t4051/64/186219687/246489/2edbee7b/584265bfN5f03799a.jpg!q70.jpg"></a>
            </div>
        </div>
    </div>

    <div class="weui-flex">
        <div class="weui-flex-item">
            <div class="placeholder">
                <a href="/product/info/"><img src="https://m.360buyimg.com//mobilecms/s276x276_jfs/t7024/14/1427135329/450671/e0e969be/598169abN250ca086.jpg!q70.jpg"></a>
            </div>
        </div>
        <div class="weui-flex-item">
            <div class="placeholder">
                <a href="/product/info/"><img src="https://m.360buyimg.com//mobilecms/s276x276_jfs/t4783/39/2494533912/228768/58156785/590054a7Ncbb93fa3.jpg!q70.jpg"></a>
            </div>
        </div>
    </div>

    <div class="weui-flex">
        <div class="weui-flex-item">
            <div class="placeholder">
                <a href="/product/info/"><img src="https://m.360buyimg.com//mobilecms/s276x276_jfs/t8521/77/43537632/146751/66c9d0c6/599f78a9Na82cfa21.jpg!q70.jpg"></a>
            </div>
        </div>
        <div class="weui-flex-item">
            <div class="placeholder">
                <a href="/product/info/"><img src="https://m.360buyimg.com//mobilecms/s276x276_jfs/t6574/236/2475111778/176882/98adae3b/59631341N4afc0c03.jpg!q70.jpg"></a>
            </div>
        </div>
    </div>

</div>


<% include public/weui_footer.html %>


<script src="/lib/weuiplus/js/swipe.js"></script>
<script type="text/javascript">
    $(function(){
        $('#slide1').swipeSlide({
            autoSwipe: true,//自动切换默认是
            speed: 3000,//速度默认4000
            continuousScroll: true,//默认否
            transitionType: 'cubic-bezier(0.22, 0.69, 0.72, 0.88)',//过渡动画linear/ease/ease-in/ease-out/ease-in-out/cubic-bezier
            lazyLoad: true,//懒加载默认否
            firstCallback: function (i, sum, me) {
                me.find('.dot').children().first().addClass('cur');
            },
            callback: function (i, sum, me) {
                me.find('.dot').children().eq(i).addClass('cur').siblings().removeClass('cur');
            }
        });
    });
</script>