<% include public/weui_header.html %>

<div class="weui-cells mt0">
    <a class="weui-cell weui-cell_access posirel" href="javascript:;">
        <div class="weui-cell__bd">
            <div class="ml30">
                <span class="fbold f15">毛毛</span>
                <span class="ml20 fbold f15">170*******8910</span>
            </div>

            <div class="mr20 mt5">
                <i class="iconfont icon-fenlei3"></i>
                <span class="ml10 f13">上海闵行区梅陇镇梅陇镇梅陇镇镇梅陇镇33室</span>
            </div>
            <b class="s1-borderB"></b>
        </div>
        <div class="weui-cell__ft">
            <p></p>
        </div>
    </a>
</div>

<div class="weui-cells">
    <label class="weui-cell " for="s11">

        <div class="weui-cell__hd"><img width="88" height="88" src="https://img10.360buyimg.com/n7/s176x176_jfs/t3049/185/3963368344/274668/cf01e9c/57fb6a66Nfb97530e.jpg!q70.jpg"></div>
        <div class="weui-cell__bd">
            <div class="mb15">
                <div class="f13">我们的身体了不起(套装全3册）</div>
                <div class="f11 colorgray mt5">系列:我们的身体了不起</div>
            </div>

            <div class="cart-product-cell-3">
                <div class="shp-cart-item-price ">
                    ¥<strong class="f15">46</strong>.00
                </div>

                <div class="quantity-wrapper customize-qua">
                    <input type="hidden" id="limitSukNum11963821" value="1000">
                    <input type="hidden" id="remainNumInt11963821" value="-1">
                    <input type="hidden" id="atLeastNum11963821" value="-1">
                    <a class="quantity-decrease disabled" id="subnum11963821" href="javascript:subWareBybutton('8888','203266599','1',13,11963821,1);" onclick="checkLimitNum();"></a>
                    <input type="tel" size="4" value="1" name="num" id="num11963821" class="quantity" onchange="checkLimitToast(-1);modifyWare('8888','203266599','1',13,11963821,1)">
                    <a class="quantity-increase " id="addnum11963821" href="javascript:addWareBybutton('8888','203266599','1',13,11963821,1,1);"></a>
                </div>


            </div>

        </div>

    </label>



    <label class="weui-cell" for="s12">

        <div class="weui-cell__hd"><img width="88" height="88" src="https://img10.360buyimg.com/n7/s176x176_jfs/t3049/185/3963368344/274668/cf01e9c/57fb6a66Nfb97530e.jpg!q70.jpg"></div>
        <div class="weui-cell__bd">
            <div class="mb15">
                <div class="f13">我们的身体了不起(套装全3册）</div>
                <div class="f11 colorgray mt5">系列:我们的身体了不起</div>
            </div>

            <div class="cart-product-cell-3">
                <div class="shp-cart-item-price ">
                    ¥<strong class="f15">46</strong>.00
                </div>

                <div class="quantity-wrapper customize-qua">
                    <input type="hidden" id="limitSukNum11963821" value="1000">
                    <input type="hidden" id="remainNumInt11963821" value="-1">
                    <input type="hidden" id="atLeastNum11963821" value="-1">
                    <a class="quantity-decrease disabled" id="subnum11963821" href="javascript:subWareBybutton('8888','203266599','1',13,11963821,1);" onclick="checkLimitNum();"></a>
                    <input type="tel" size="4" value="1" name="num" id="num11963821" class="quantity" onchange="checkLimitToast(-1);modifyWare('8888','203266599','1',13,11963821,1)">
                    <a class="quantity-increase " id="addnum11963821" href="javascript:addWareBybutton('8888','203266599','1',13,11963821,1,1);"></a>
                </div>


            </div>

        </div>

    </label>


    <label class="weui-cell" for="s13">

        <div class="weui-cell__hd"><img width="88" height="88" src="https://img10.360buyimg.com/n7/s176x176_jfs/t3049/185/3963368344/274668/cf01e9c/57fb6a66Nfb97530e.jpg!q70.jpg"></div>
        <div class="weui-cell__bd">
            <div class="mb15">
                <div class="f13">我们的身体了不起(套装全3册）</div>
                <div class="f11 colorgray mt5">系列:我们的身体了不起</div>
            </div>

            <div class="cart-product-cell-3">
                <div class="shp-cart-item-price ">
                    ¥<strong class="f15">46</strong>.00
                </div>

                <div class="quantity-wrapper customize-qua">
                    <input type="hidden" id="limitSukNum11963821" value="1000">
                    <input type="hidden" id="remainNumInt11963821" value="-1">
                    <input type="hidden" id="atLeastNum11963821" value="-1">
                    <a class="quantity-decrease disabled" id="subnum11963821" href="javascript:subWareBybutton('8888','203266599','1',13,11963821,1);" onclick="checkLimitNum();"></a>
                    <input type="tel" size="4" value="1" name="num" id="num11963821" class="quantity" onchange="checkLimitToast(-1);modifyWare('8888','203266599','1',13,11963821,1)">
                    <a class="quantity-increase " id="addnum11963821" href="javascript:addWareBybutton('8888','203266599','1',13,11963821,1,1);"></a>
                </div>


            </div>

        </div>

    </label>


</div>

<div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
            <p class="colorgray f16 ">配送方式</p>
        </div>
        <div class="weui-cell__ft f13">
            <span class="mr10 colorblack">京东快递</span>
            <div class="mr10 colorblack">
                <i class="iconfont icon-fenlei3 "></i>
                8月30日 [周三] 09:00-15:00
            </div>
        </div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
            <p class="colorgray f16 ">发票信息</p>
        </div>
        <div class="weui-cell__ft f13">
            <span class="mr10 colorblack">电子发票-个人</span>
            <div class="mr10 colorblack">
                <i class="iconfont icon-fenlei3"></i>
                非图书商品-明细
            </div>
        </div>
    </a>
</div>



<div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
            <p class="colorgray f16 ">优惠券</p>
        </div>
        <div class="weui-cell__ft f13">
            <span class="mr10 colorblack">未使用</span>
        </div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
            <p class="colorgray f16 ">京东卡/E卡</p>
        </div>
        <div class="weui-cell__ft f13">
            <span class="mr10 colorblack">未使用</span>
        </div>
    </a>
</div>



<div class="weui-cells posifix left0 bottom0 width100">
    <label class="fl weui-cell pt0 pr0 pb0 pl0" for="s111">
        <div class="weui-cell__bd ml10 pt15 pb15">
            <div class="f13 fbold">合计: ¥0.00</div>
            <div class="f11 colorgray">总额:¥0.00 立减:¥0.00</div>
        </div>
    </label>
    <div class="fr mt0">
        <a href="/order/ordersubmit/" class="f16 displayblock pt15 pb15 pl30 pr30 bra0 weui-btn weui-btn_mini weui-btn_warn">去支付</a>
    </div>

</div>


<% include public/weui_footer.html %>